* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Caveat";
    font-style: normal;
    src: url("Caveat-Bold.ttf") format("truetype");
}
body {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.left {
    margin: auto;
}
.lienBulle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card {
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    background-color: white;
    width: 300px;
    height: 400px;
    /* 4 valeurs= DG-HB- Rayon et flou - Rayon d'étalement */
    box-shadow: 18px 18px 20px 0px rgba(0, 0, 0, 0.3);
}
.card h1:hover,
.card h2:hover,
.card p:hover {
    cursor: pointer;
    background-color: whitesmoke;
    margin: 0 40px;
    border-radius: 10px;
    text-align: center;
}

.card-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: auto;
}

h1 {
    font-size: 1.9rem;
    font-weight: 400;

    padding: 5px;
}
h2 {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 5px;
}
p {
    font-size: 1.3rem;
    padding: 5px;
}

.lienBulle {
    width: 50%;
    height: 100%;
    position: relative;
}
.img0 {
    margin: 20px 0;
    width: 200px;
    height: 200px;
    background-color: white;
    box-shadow: 18px 18px 20px 0px rgba(0, 0, 0, 0.3);
    border-radius: 100%;
}
.img1,
.img2,
.img3 {
    margin: 20px 0;
    width: 150px;
    height: 150px;
    background-color: white;
    box-shadow: 18px 18px 20px 0px rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    position: absolute;
}
.img1 {
    top: 0px;
    left: 0px;
    background-image: url("/Ressources/hadia.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 160px;
}
.img2 {
    top: 0px;
    left: 0px;
    background-image: url("/Ressources/programming-1873854_1280.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 450px;
}
.img3 {
    top: 0px;
    left: 0px;
    background-image: url("/Ressources/reseaux_sociaux_identite_visuelle.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 350px;
}
.img1:hover,
.img2:hover,
.img3:hover {
    transform: scale(1.2);
}
@media screen and (max-width: 710px) {
    main {
        display: block;
        justify-content: center;
        align-items: center;
    }
    .left{
        margin: 50px auto;
    }
    .lienBulle {
        width: 100%;
        height: 100%;
    }
}
