body {
    display: flex;
    /* flex-direction: column; */
}
div {
    width: 20vw;
    height: 20vh;
}
.d1 {
    background-color: rgb(255, 251, 0);
    height: 50vh;
}
.d23 {
}
.d2 {
    background-color: rgb(28, 223, 96);
    height: 25vh;
  
}
.d3 {
    background-color: rgb(239, 64, 64);
    height: 25vh;
}
