* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    height: 100vh;
}
h1 {
    width: 60%;
    margin: 20px auto;

    padding: 10px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 20px;
}
main {
    display: flex;
    justify-content: center;
    padding: 50px;
}
.exo1,
.exo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h2 {
    margin: 10px;
}
p {
    margin: auto;
    width: 70%;
}
.donnees {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
label {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.3rem;
    font-weight: 700;
}
input {
    margin: 10px auto;
    padding: 8px;
    width: 200px;
    border-radius: 10px;
}
form {
    display: flex;
    flex-direction: column;
}
.styleReponseMajeur {
    font-family: sans-serif;
    padding: 15px;
    width: 250px;
    text-align: center;
    background-color: rgb(0, 255, 13);
    border-radius: 20px;
    color: black;
}
.styleReponseMineur {
    font-family: sans-serif;
    padding: 15px;
    width: 250px;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
}
.styleReponseAnneeIncorrecteMin {
    font-family: sans-serif;
    padding: 15px;
    width: 250px;
    text-align: center;
    color: rgb(255, 0, 0);
    border-radius: 20px;
}
.styleReponseAnneeIncorrecteMax {
    font-family: sans-serif;
    padding: 15px;
    width: 250px;
    text-align: center;
    color: rgb(255, 0, 0);
    border-radius: 20px;
}

.resultatFroid {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    padding: 15px;
    width: 250px;
    color: black;
    background-color: aqua;
    border-radius: 20px;
}
.resultatChaud {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    padding: 15px;
    width: 250px;
    color: rgb(247, 238, 238);
    background-color: rgb(255, 34, 0);
    border-radius: 20px;
}
.resultatAmbiant {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    padding: 15px;
    width: 250px;
    color: black;
    background-color: rgb(255, 204, 0);
    border-radius: 20px;
}
.resultatDepart{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    padding: 15px;
    width: 250px;
    color: black;
    background-color: aquamarine;
    border-radius: 20px;
}
